/*
 * Author: Haythm Alshehab
 * Project Name: Skillit - Learn skills to create websites
 */

body {
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway";
    font-weight: 300;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

.text-centered {
    text-align: center;
}


/*Navigation--------------------------------------------*/

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #222831;
}

.navbar-nav li a {
    color: white !important;
    font-size: 14px;
    font-weight: lighter;
}

.navbar-nav li a:hover {
    color: #cb5750;
}

.navbar-brand {
    font-size: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}


/*Navigation--------------------------------------------*/


/*First Section------------------------------------------*/

#first {
    background-color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

#first img {
    padding: 40px;
    border-radius: 40px;
}

#first h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #45aacb;
}

#first hr {
    border: 1px solid #f0f0f0;
    width: 50%;
}

#first h2 {
    color: #888888;
}


/*First Section------------------------------------------*/


/*Second Section------------------------------------------*/

#second {
    height: 300px;
    background-color: #45aacb;
    color: #ffffff;
    padding: 60px;
}

#second h1 {
    font-weight: bold;
    font-size: 60px;
}

#second h2 {
    font-weight: lighter;
    ;
    font-size: 30px;
}


/*Third Section------------------------------------------*/

#third {
    background-color: #ffffff;
    padding: 80px;
}

#third i {
    font-size: 250px;
    color: #cb5750;
}

#third h3 {
    color: #cb5750;
    margin-bottom: 20px;
}

#third p {
    color: #222831;
}


/*Third Section------------------------------------------*/


/*Footer Section------------------------------------------*/

#footer {
    background-color: #222831;
    color: #EEEEEE;
    font-size: 12px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 500;
}


/*Footer Section------------------------------------------*/


/*LEARN_HTML CSS------------------------------------------*/

#learn_lesson_title {
    background-color: #45aacb;
    color: #cb5750;
    font-weight: bold;
    /*font-family: 'Oswald', sans-serif;*/
    letter-spacing: 2px;
    border: #0bbd9c;
}

#learn_lesson_title h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
}

.lesson_div {
    display: none;
    margin-top: 20px;
}

.lesson_text {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    padding: 20px;
    text-align: justify;
    margin: 10px 10px 10px 0px;
}

#learn_main {
    background-color: #2d2d2d;
}

.lesson_div h2 {
    color: #bd5838;
    font-weight: bold;
}

.lesson_div p {
    color: #222831;
    font-size: 24px;
}

#sidebar_learn {
    background-color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    padding: 0px;
    text-align: center;
    color: black;
}

#sidebar_learn .nav li a {
    color: black;
}

#sidebar_learn .nav li a:hover,
#sidebar_learn .nav li a:focus {
    color: #222831;
}

#sidebar_learn .nav li.active a {
    background-color: #26b5cf;
    color: #222831;
}


/*LEARN_HTML CSS------------------------------------------*/


/*SOON CSS------------------------------------------------*/

#soon {
    background-color: #FFFFFF;
    padding-top: 300px;
    padding-bottom: 100px;
    height: 900px;
}

#soon img {
    padding: 40px;
    border-radius: 40px;
}

#soon h1 {
    font-size: 90px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #45aacb;
}

#soon hr {
    border: 1px solid #f0f0f0;
    width: 50%;
}

#soon h2 {
    color: #888888;
}


/*SOON CSS------------------------------------------------*/